body{
	padding: 0;
	margin: 0;
	background-color: green;
}
.container{
	height: 500px;
	width: 350px;
	position: absolute;
	margin: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.Cat{
	position: relative;
	top: 150px;
	left: 50px;
}
.face{
	background-color: #33292b;
	height: 90px;
	width: 150px;
	border-radius: 30px;


}
.ear-right,.ear-left{
width: 0;
height: 0;
border-bottom: 50px solid #33292b;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
position: relative;
z-index: -1;
}
.ear-right{
	bottom: 85px;
	left: 110;
	transform: rotate(30deg);
}
.ear-left{
	bottom: 35px;
	transform: rotate(-30deg);

}
.inner{
	width: 0;
	height: 0;
	border-bottom: 50px solid #d36149;
	right: 25px;
	position: relative;
	border-left: 25px solid transparent;
}

.inner2{
	width: 0;
	height: 0;
	border-bottom: 50px solid #d36149;
	right: 25px;
	position: relative;
	border-left: 25px solid transparent;
}
.ear-left,.ear-right{
	background-color: #d2873b;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: relative;
}
.ear-left 
	bottom: 75px;
	left: 30px;

}
.ear-right{
	bottom: 105px;
	left: 90px;

}
.eyeball{
background-color: #262626;
width: 24px;
height: 24px;
position: relative;
border-radius: 50;
top: 3px;
left: 3px;
}
.nose{
	width: 0;
height: 0;
border-top: 8px solide #d36149;
border-left: 7px solid transparent;
position: relative;
bottom: 110px;
left: 68px;
}

.l1,.l2{


	background-color: #d36149;
	height: 8px;
	width: 1px;
	position: relative;
}
.l1{
	transform: rotate(45deg);
	right: 4px;
	bottom: 10px;
}
.l2{
bottom: 10px;
}
.cat-body{
	background-color: #32922b;
	height: 120px;
	width: 130px;
	position: relative;
	left: 30px;
	bottom: 5px;
	border-radius: 0 65px 0 0;

}
.paw-l,.paw-r{
	background-color: #33292b;

}
.paw-l{
	top: 110;
	left: 50;
}	


